@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
      url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar__item {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
}

.navbar__contacts {
    text-align: right;
}

.navbar__text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.navbar__phone {
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 54px;
    display: flex;
    
}

.main__info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home__img path {
    opacity: 0;
}

path.current-floor {
    opacity: 1;
}

.home__img path:hover {
    opacity: 1;
    cursor: pointer;
}

.counter__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter__btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.counter__arrow-down {
    transform: rotateX(180deg);
}

.main__title {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    text-transform: uppercase;
    color: #635854;
}

.counter {
    color: #635854;
    font-size: 124px;
    font-family: "Bebas Neue", sans-serif;
}

.button__primary {
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}